{% extends "layout.html" %}
{% block content %}
<html lang="es">
<body class="font-serif bg-white min-h-dvh flex flex-col items-center justify-center">
    <section class="max-w-full mx-auto   ">
    
    <header class="min-w-fit flex justify-center items-center">
        <img src="../static/images/LOGO color sello de agua-01.png" alt="logo grano sabor" class="object-cover mb-2 w-46 h-46">
    </header>
        
    <main class="text-white flex flex-col items-center">
        <a href="/auth/login">
            <button class="
                m-5 
                rounded-md
                shadow
                flex
                justify-center
                items-center
                py-2
                px-6
                bg-white/90
                border-2
                border-[#4B2E2A]
                text-[#4B2E2A]
                font-medium
                hover:bg-amber-950
                hover:text-white
                active:bg-white/80
                focus:outline-2
                focus:outline-offset-2
                focus:outline-[#4B2E2A]
                transition
                duration-150
                ease-in-out
                cursor-pointer
            ">
                Iniciar Sesión
            </button>
        </a>
    
    </section>
    <section class="max-w-xl mx-auto">
        <!-- ...contenido... -->
    </section>
        <section class="flex justify-center ">
            <a class="size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform"
                style="background: linear-gradient(45deg, #f58529 0%, #dd2a7b 50%, #515bd4 100%);"
                href="https://www.instagram.com/grano.sabor79/" target="_blank" aria-label="instagram" title="Ir a Instagram de Grano Sabor">
                <svg width="28" height="28">
                    <use xlink:href="../static/sprite.svg#instagram"></use>
                </svg>
            </a>
        </section>
    </main>
</body>
</html>
{% endblock %}