<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Grano Sabor</title>
    <link rel="stylesheet" href="/static/css/output.css">
</head>
<body class="bg-white text-gray-900 min-h-screen flex flex-col">
    <header class="bg-white shadow p-4">
        <div class="max-w-4xl mx-auto">
            <h1 class="text-2xl font-bold flex items-center justify-center">Gestor de Productos - Boutique</h1>
        </div>
    </header>
    <main class="flex-grow p-4 max-w-4xl mx-auto">
        {% block content %}{% endblock %}
    </main>
    <footer class="bg-gray-200 text-center text-sm py-2">
        &copy; {{ 2025 }} Boutique App - Desarrollado por Simón
    </footer>
</body>
</html>
